

{% block body %}
    <!--FILTER SECTION-->
    {{ render(controller('AppBundle:Parts:filter')) }}
    <section class="container">
        <div class="row">
            <div class="col-12">
                <p class="href-navigation">
                    <a href="{{ path('homepage') }}">{{ 'Home'|trans }}</a><i class="ti-angle-right"></i>{{ 'Shop'|trans }}
                </p>
            </div>
        </div>
        <!-- feature box begin -->
        {% set totalServices = categories|length %}
        {% set currentRow = 0 %}
        {% set serviceCount = 0 %}
        {% for category in categories %}
            {% if currentRow == 0 %}
                <div class="row">
            {% endif %}
            <div class="col-xl-3 col-lg-6 col-sm-12">
                <div class = 'home-page-property-card'>
                    <div class="property-image">
                        <a href="{{ path('category_list',{'slug':category.carPartCategoryGroupSlug}) }}"><img src="{{ category.carPartCategoryGroupOgImage|get_thumb }}" alt="{{ category.carPartCategoryGroupTitle }}" width="100%"></a>
                        <div class="right-decor"></div>
                    </div>
                    <div class="property-header">
                        <div class="property-title">
                            <a href="{{ path('category_list',{'slug':category.carPartCategoryGroupSlug}) }}"><p>{{ category.carPartCategoryGroupTitle }} ({{ category.carPartCategory|length }})</p></a>
                        </div>
                    </div>
                </div>
            </div>
            {% set currentRow = currentRow + 1 %}
            {% set serviceCount = serviceCount + 1 %}
            {% if currentRow == 3 or serviceCount == totalServices %}
                {% set currentRow = 0 %}
                </div>
            {% endif %}
        {% endfor %}
        <!-- feature box close -->
    </section>
{% endblock %}