{% extends 'base.html.twig' %}

{%
    set metaParams = {
    'title': categoryGroup.carPartCategoryGroupTitle,
    'description': categoryGroup.carPartCategoryGroupMetaDescription,
    'keywords': categoryGroup.carPartCategoryGroupMetaKeywords,
    'ogImage': categoryGroup.carPartCategoryGroupOgImage
}
%}

{% block meta %}
    {% include 'parts/meta.html.twig' with metaParams %}
{% endblock %}
{% block title %}{{ categoryGroup.carPartCategoryGroupTitle }} - {{ parent() }}{% endblock %}

{% set activeShop = true %}

{% block body %}
    <!--FILTER SECTION-->
    {{ render(controller('AppBundle:Parts:filter')) }}
    <section class="container">
        <div class="row">
            <div class="col-12">
                <p class="href-navigation">
                    <a href="{{ path('homepage') }}">{{ 'Home'|trans }}</a><i class="ti-angle-right"></i><a href="{{ path('category_group') }}">{{ 'Shop'|trans }}</a><i class="ti-angle-right"></i>{{ categoryGroup.carPartCategoryGroupTitle }}
                </p>
            </div>
        </div>
        <!-- feature box begin -->
        {% set totalServices = categories|length %}
        {% set currentRow = 0 %}
        {% set serviceCount = 0 %}
        {% for category in categories %}
            {% if currentRow == 0 %}
                <div class="row">
            {% endif %}
            <div class="col-xl-3 col-lg-6 col-sm-12">
                <div class = 'home-page-property-card'>
                    <div class="property-image">
                        <a href="{{ path('category_view',{'slug':category.carPartCategorySlug}) }}"><img src="{{ category.carPartCategoryOgImage|get_thumb }}" alt="{{ category.carPartCategoryTitle }}" width="100%"></a>
                        <div class="right-decor"></div>
                    </div>
                    <div class="property-header">
                        <div class="property-title">
                            <a href="{{ path('category_view',{'slug':category.carPartCategorySlug}) }}"><p>{{ category.carPartCategoryTitle }} ({{ category.carPart|length }})</p></a>
                        </div>
                    </div>
                </div>
            </div>
                </div>
            {% endif %}
        {% endfor %}
        <!-- feature box close -->
    </section>
{% endblock %}