{% block body %}
    {{ render(controller('AppBundle:Parts:filter')) }}
    <!--PRODUCTS OF THE CATEGORY-->
    <section class="container">
        <p class="href-navigation"><a href="{{ path('homepage') }}">{{ 'Home'|trans }}</a><i class="ti-angle-right"></i>
            <a href="{{ path('category_group') }}">{{ 'Shop'|trans }}</a><i class="ti-angle-right"></i><a href="{{ path('category_list',{'slug':category.carPartCategoryGroup.carPartCategoryGroupSlug}) }}">{{ category.carPartCategoryGroup.carPartCategoryGroupTitle }}</a>
            <i class="ti-angle-right"></i>{{ category.carPartCategoryTitle }}
        </p>
        <!-- feature box begin -->
        {% set totalServices = parts|length %}
        {% set currentRow = 0 %}
        {% set serviceCount = 0 %}
        {% for part in parts %}
            {% if currentRow == 0 %}
                <div class="row">
            {% endif %}

            <div class="col-xl-3 col-lg-6 col-sm-12">
                <div class = 'home-page-property-card'>
                    <div class="property-header">
                        <div class="property-title">
                            <a href="{{ path('parts_view',{'slug':part.carPartSlug}) }}"><p>{{ part.carPartTitle }}</p></a>
                        </div>
                    </div>
                    <div class="property-image">
                        <img src="{{ part.carPartOgImage }}"  width="185px"  alt="{{ part.carPartTitle }}">
                        <a href="{{ path('parts_view',{'slug':part.carPartSlug}) }}">
                            <div class="service-text-container">
                                <div class="service-text">
                                    {{ part.carPartShortText }}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            {% set currentRow = currentRow + 1 %}
            {% set serviceCount = serviceCount + 1 %}
        {% endfor %}
        <!-- feature box close -->
    </section>
{% endblock %}