{% spaceless %}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block meta %}{% endblock %}
        <title>{% block title %} RAFA GROUP {% endblock %}</title>
        {% block stylesheets %}

        {% endblock %}
        {#<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />#}
    </head>
    <body>
    {% include 'parts/nav.html.twig' %}
    <div class="page-wrapper">
    {% block body %}{% endblock %}
    </div>
    {% include 'parts/footer.html.twig' %}
    {% block javascripts %}

    {% endblock %}
    </body>
    </html>
{% endspaceless %}
