<!--FILTER SECTION-->
<section class="container">
    <div class="row">
        <div class="filter">
            {{ form_start(form, {'action': path('car_list',{'slug':'0'}), 'method': 'POST'}) }}
            <fieldset>
                <div class="col-12 height-50">
                    <div class="fieldset-item item-location margin " >
                        {{ form_widget(form.manufacturer, {"attr": {"class": "form-control fieldset-item item-location"}}) }}
                    </div>
                    <div class="fieldset-item item-location margin" >
                        {{ form_widget(form.model, {"attr": {"class": "form-control fieldset-item item-location"}}) }}
                    </div>
                    <div class="fieldset-item item-location">
                        {{ form_widget(form.type, {"attr": {"class": "form-control fieldset-item item-location"}}) }}
                    </div>
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-rafa-red fieldset-button button-margin'}}) }}
                </div>
                <div class="col-12">
                    <div class="form-group search-group">
                        <input type="search" class="form-control filter-search" placeholder="{{ 'Search'|trans }}">
                        <i class="fa fa-search"></i>
                        <ol class="search-result"></ol>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</section>