<footer class="flexbox-container footer-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-4 col-sm-12">
                <h4 class="footer-title"></h4>
                <p class="text-cols-2">{{ render(controller('AppBundle:Parts:footerAbout')) }}</p>
                <a href="{{ path('page_about') }}" class="btn btn-rafa-red">{{ 'View More'|trans }}</a>
                <div class="gap-20 hidden-md-up"></div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <h4 class="footer-title">{{ 'Navigation'|trans }}</h4>
                <ul class="footer-navigation">
                    <li><a href="{{ path('homepage') }}">{{ 'Home'|trans }}</a></li>
                    <li><a href="{{ path('blog_list') }}">{{ 'Blog'|trans }}</a></li>
                    <li><a href="{{ path('page_about') }}">{{ 'About us'|trans }}</a></li>
                    <li><a href="{{ path('page_become') }}">{{ 'Become A Partner'|trans }}</a></li>
                    <li><a href="{{ path('page_contact') }}">{{ 'Contact us'|trans }}</a></li>
                </ul>
                <div class="gap-20 hidden-sm-up"></div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                <h4 class="footer-title">{{ 'Contact us'|trans }}</h4>
                {{ render(controller('AppBundle:Parts:footerContact')) }}
            </div>
            <input type="hidden" id="_locale" value="{{ app.request.locale }}">
        </div>
    </div>
</footer>
<footer class="container-fluid footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-4">{{ 'Copyright'|trans }} {{ 'now'|date('Y') }} &copy;  {{ 'All Rights Reserved'|trans }}</div>

        </div>
    </div>
</footer>