<header>
    <div class="container-fluid header-top">
        <div class="container">
            <div class="left-section">
                <nav class="navigation social">
                    {{ render(controller("AppBundle:Parts:headerContact")) }}
                </nav>
            </div>
            <div class="right-section">
                <nav class="navigation languages">
                    <ul>
                        <li class="{{ ( app.request.attributes.get('_locale') == "es")? 'active': '' }}"><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'es'})) }}"><img src="{{ asset('img/design-elements/es.png') }}" alt="Español"><span class="language-title">Español</span></a></li>
                        <li class="{{ ( app.request.attributes.get('_locale') == "en")? 'active': '' }}"><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}"><img src="{{ asset('img/design-elements/en.png') }}" alt="English"><span class="language-title">English</span></a></li>
                        <li class="{{ ( app.request.attributes.get('_locale') == "de")? 'active': '' }}"><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'de'})) }}"><img src="{{ asset('img/design-elements/de.png') }}" alt="Deutsch"><span class="language-title">Deutsch</span></a></li>
                        <li class="{{ ( app.request.attributes.get('_locale') == "ru")? 'active': '' }}"><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'ru'})) }}"><img src="{{ asset('img/design-elements/ru.png') }}" alt="Русский"><span class="language-title">Русский</span></a></li>
                        {% if is_granted('ROLE_USER') %}
                            <li>
                                <div class="user-page-info-box">
                                    {{ 'Account Actions'|trans }} <i class="ti-angle-down nav-icon"></i>
                                    <div class="custom-dropdown">
                                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                                            <a href="{{ path('sonata_admin_dashboard') }}">{{ 'Admin'|trans }}</a>
                                        {% endif %}
                                        <a href="{{ path('fos_user_security_logout') }}">{{ 'Log Out'|trans }}</a>
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="container-fluid header-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-4 col-md-6 col-sm-6 col-8">
                    <a href="{{ path('homepage') }}" class="logo"><img src="{{ asset("img/logo.png") }}" alt=""></a>
                </div>
                <div class="col-xl-7 col-lg-8 col-md-6 col-sm-6 col-4">
                    <nav class="navigation main-navigation">
                        <a href="javascript:void(0)" class="mobile-nav-toggle d-xl-none d-lg-none">
                            <span class="bar"></span><span class="bar"></span><span class="bar"></span>
                        </a>
                        <ul class="d-none d-lg-block d-xl-block">
                            <li><a href="{{ path('homepage') }}" {{ (activeHome is defined) ? 'class="active"' : '' }}>{{ 'Home'|trans }}</a></li>
                            <li><a href="{{ path('category_group') }}" {{ (activeShop is defined) ? 'class="active"' : '' }}>{{ 'Shop'|trans }}</a></li>
                            <li><a href="{{ path('blog_list') }}" {{ (activeBlog is defined) ? 'class="active"' : '' }}>{{ 'Blog'|trans }}</a></li>
                            <li><a href="{{ path('page_about') }}" {{ (activeAbout is defined) ? 'class="active"' : '' }}>{{ 'About us'|trans }}</a></li>
                            <li><a href="{{ path('page_contact') }}" {{ (activeContact is defined) ? 'class="active"' : '' }}>{{ 'Contact us'|trans }}</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>