{{ render(controller("AppBundle:Parts:filter")) }}
    <!--PROPERTIES TITLE-->
    <section class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h1>{{ part.carPartTitle }}</h1>
            </div>
        </div>
    </section>
    <!--MAIN BODY-->
    <section class="container">
        <div class="row">
            <!--HREF NAVIGATION-->
            <p class="href-navigation"><a href="{{ path('homepage') }}">{{ 'Home'|trans }}</a><i class="ti-angle-right"></i>
                <a href="{{ path('category_group') }}">{{ 'Shop'|trans }}</a><i class="ti-angle-right"></i><a href="{{ path('category_list',{'slug': part.carPartCategory.carPartCategoryGroup.carPartCategoryGroupSlug}) }}">{{ part.carPartCategory.carPartCategoryGroup.carPartCategoryGroupTitle }}</a>
                <i class="ti-angle-right"></i><a href="{{ path('category_view',{'slug':part.carPartCategory.carPartCategoryTitle}) }}">{{ part.carPartCategory.carPartCategoryTitle }}</a><i class="ti-angle-right"></i>{{ part.carPartTitle }}
            </p>
            <!--LEFT SIDE-->
            <div class="col-xl-7 col-lg-7 col-sm-12">
                <div class="property-description-image">
                    <img src="{{ part.carPartOgImage }}" width="80%" alt="{{ part.carPartTitle }}">
                </div>
                <div class="property-slider-thumbs owl-carousel owl-theme carousel-with-margin">
                    {% for img in gallery  %}
                        <div class="item"><img src="{{ img }}" alt="{{ part.carPartTitle }}" width="80%"></div>
                    {% endfor %}
                </div>
            </div>
            <!--RIGHT SIDE-->
            <div class="col-xl-5 col-lg-5 col-sm-12">
                <div class="property-info">
                    <div class="property-info-line">
                        <span class="info-line-icon"><i class="fa fa-wrench" aria-hidden="true"></i></span> {{ part.carPartCategory.carPartCategoryGroup.carPartCategoryGroupTitle }} | {{ part.carPartCategory.carPartCategoryTitle}}
                    </div>
                    <div class="property-info-line">
                        {{ part.carPartText|raw }}
                    </div>
                    <div class="property-info-line">
                        <div class="info-line-price">{{ part.carPartPrice }} €</div>
                    </div>
                    <table class="property-table">
                        <tr>
                            <td class="property-table-title">{{ 'Kriterium'|trans }}</td>
                            <td class="property-table-title">{{ 'Detail'|trans }}</td>
                        </tr>
                        {% set index=0 %}
                        {% for char in part.carPartCharacteristics  %}
                            {% if index<6 %}
                                <tr>
                                    <td>{{ char.characteristics.characteristicsTitle}}</td>
                                    <td>{{ char.characteristicsValue }} </td>
                                </tr>
                            {% endif %}
                            {% set index=index+1 %}
                        {% endfor %}
                    </table>
                    <h5 class="manufacturer-title">{{ 'Herstellernummer'|trans }}*</h5>
                    <table class="property-table">
                        <tr>
                            <td class="property-table-title">{{ 'Unique Code'|trans }}</td>
                            <td class="property-table-title">{{ 'Model'|trans}}</td>
                        </tr>
                        {% set index=0 %}
                        {% for code in part.carPartUniqueCode %}
                            {% for model in code.carManufacturer %}
                                {% if index<9 %}
                                    <tr>
                                        <td>{{ code.carPartUniqueCode }}</td>
                                        <td>{{model.carManufacturerTitle}}</td>
                                    </tr>
                                    {% set index=index+1 %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </table>
                </div>

            </div>

            <!--PROPERTIES TABS-->
            <div class="col-12">
                <div class="property-tab">
                    <button type="button" class="tablinks active" onclick="openProperty(event, 'allocation')">{{ 'Kriterium'|trans }}</button>
                    <button type="button" class="tablinks" onclick="openProperty(event, 'cars')">{{ 'Vehicle Allocation'|trans }}</button>
                </div>
                <div id="allocation" class="tabcontent display-block">
                   <div class="col-md-12">
                       <ul class="row">
                           {% for char in part.carPartCharacteristics  %}
                               <li class="col-md-3 col-sm-4 col-xs-6 col-12">
                                   <span class="main-color">{{ char.characteristics.characteristicsTitle}} :</span>
                                   {{ char.characteristicsValue }}
                               </li>
                               {% set index=index+1 %}
                           {% endfor %}
                       </ul>
                   </div>
                </div>
                <div id="cars" class="tabcontent">
                    <table class="property-table tab-table">
                        <tr>
                            <td class="tab-table-number">{{ 'Nr.'|trans }}</td>
                            <td class="tab-table-title">{{ 'Fahrzeug'|trans }}</td>
                            <td class="tab-table-title">{{ 'Baujahr'|trans }}</td>
                            <td class="tab-table-title">{{ 'Leistung'|trans }}</td>
                            <td class="tab-table-title">{{ 'Num. Of Valves Per Cylinder'|trans }}</td>
                            <td class="tab-table-title">{{ 'Cylinder  Volum'|trans }}</td>
                            <td class="tab-table-title">{{ 'Fuel Type'|trans }}</td>
                            <td class="tab-table-title">{{ 'Type Of Brake System'|trans }}</td>
                            <td class="tab-table-title">{{ 'Type Of Drive'|trans }}</td>
                        </tr>
                        {% set index=1 %}
                        {% for car in part.car %}
                                <tr>
                                    <td>{{ index }}</td>
                                    <td><a href="{{ path('car_list',{'slug':car.carSlug}) }}">{{ car.carTitle }}</a></td>
                                    <td>{{ car.carModel.carModelYearStart|date('m/Y') }} - {{  car.carModel.carModelYearEnd|date('m/Y') }}</td>
                                    <td>{% if car.carEngineType.carEngineTypeKW!=0 %}{{ car.carEngineType.carEngineTypeKW }}KW {% endif %}({{ car.carEngineType.carEngineTypeHorsePower }} PS)</td>
                                    <td>{{ car.carEngineType.carEngineTypeNumberOfValvesPerCylinder }}</td>
                                    <td>{{ car.carEngineType.carEngineTypeCylinderVolum }}</td>
                                    <td>{{ car.carEngineType.fuelType.fuelTypeTitle }}</td>
                                    <td>{{ car.carModel.carModelTypeOfBrakeSystem }}</td>
                                    <td>{{ car.carModel.carModelTypeOfDrive }}</td>
                                </tr>
                                {% set index=index+1 %}
                        {% endfor %}
                    </table>

                </div>
            </div>
        </div>
    </section>
    {% if similar %}
        <!--SAME PROPERTIES-->
        <section class="container">
            <h2 class="align-center">{{ 'Similar Parts'|trans }}</h2>
            <!-- feature box begin -->
            {% set totalServices = similar|length %}
            {% set currentRow = 0 %}
            {% set serviceCount = 0 %}
            {% for sim in similar %}
                {% if currentRow == 0 %}
                    <div class="row">
                {% endif %}
                <div class="col-xl-4 col-lg-4 col-sm-6">
                    <div class = 'home-page-property-card'>
                        <div class="property-header">
                            <div class="property-title">
                                <a href="{{ path('parts_view',{'slug':sim.carPartSlug}) }}"><p>{{ sim.carPartTitle }}</p></a>
                            </div>
                        </div>
                        <div class="property-image">
                            <img src="{{ sim.carPartOgImage }}" width="185px" alt="{{ sim.carPartTitle }}">
                            <a href="{{ path('parts_view',{'slug':sim.carPartSlug}) }}">
                                <div class="service-text-container">
                                    <div class="service-text">
                                        {{ sim.carPartShortText }}
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                {% set currentRow = currentRow + 1 %}
                {% set serviceCount = serviceCount + 1 %}
                {% if currentRow == 3 or serviceCount == totalServices %}
                    {% set currentRow = 0 %}
                    </div>
                {% endif %}
            {% endfor %}
            <!-- feature box close -->
        </section>
    {% endif %}

{% endblock %}