{% extends 'base.html.twig' %}

{%
    set metaParams = {
    'title': page.pageTitle,
    'description': page.pageMetaDescription,
    'keywords': page.pageMetaKeywords,
    'ogImage': page.pageOgImage
}
%}

{% block meta %}
    {% include 'parts/meta.html.twig' with metaParams %}
{% endblock %}
{% block title %}{{ page.pageTitle }} - {{ parent() }}{% endblock %}

{% set activeBlog = true %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>{{ page.pageTitle }}</h2>
                </div>
            </div>
            <div class="col-12">
                <p class="href-navigation">
                    <a href="{{ path('homepage') }}">{{ 'Home'|trans }}</a><i class="ti-angle-right"></i><a href="{{ path('blog_list') }}">{{ 'Blog'|trans }}</a>
                </p>
            </div>
        </div>
        <div class="row">
            {% for blog in blogs %}
            <div class="col-md-12">
                <div class="blog-preview">
                    <div class="row">
                        <div class="col-md-5 blog-preview__image">
                            <img src="{{ asset(blog.blogOgImage|get_thumb) }}" alt="{{ blog.blogTitle }}" class="img-fluid">
                        </div>
                        <div class="col-md-7 blog-preview__text-container">
                            <h3><a href="{{ path('blog_view', {'created': blog.blogCreatedAt|date('d-m-Y'), 'blogSlug': blog.blogSlug}) }}">{{ blog.blogTitle }}</a></h3>
                            <ul class="blog-meta">
                                <li>{{ 'Published'|trans }} {{ blog.blogCreatedAt|date('d.m.Y') }}</li>
                                <li>{{ blog.blogViewsCount }} {{ 'Views'|trans }}</li>
                                <li>{{ blog.blogComment|count_approved_comments }} {{ 'Comments'|trans }}</li>
                            </ul>
                            <div class="blog-preview__text">{{ blog.blogShortText }}</div>
                            <a href="{{ path('blog_view', {'created': blog.blogCreatedAt|date('d-m-Y'), 'blogSlug': blog.blogSlug}) }}" class="btn btn-rafa-red arrow">{{ 'View More'|trans }}</a>
                        </div>
                    </div>
                </div>
                <div class="gap-30"></div>
            </div>
            {% endfor %}
            <div class="col-md-12 text-center">
                <div class="gap-50"></div>
                <ul class="pagination">
                    <li class="page-item {{ (paginate == 1)? 'disabled': '' }}"><a class="page-link" href="{{ path('blog_list', {'paginate': paginate - 1}) }}"><i class="ti-angle-left"></i></a></li>
                    {% for pgnt in 1..paginationTotal %}
                    <li class="page-item {{ (pgnt == paginate)? 'active': '' }}"><a class="page-link" href="{{ path('blog_list', {'paginate': pgnt}) }}">{{ pgnt }}</a></li>
                    {% endfor %}
                    <li class="page-item {{ (paginate == paginationTotal)? 'disabled': '' }}"><a class="page-link" href="{{ path('blog_list', {'paginate': paginate + 1}) }}"><i class="ti-angle-right"></i></a></li>
                </ul>
                <div class="gap-20"></div>
            </div>
        </div>
    </section>
{% endblock %}