{% extends 'base.html.twig' %}

{%
set metaParams = {
'title': car.carTitle,
'description': car.carTitle,
'keywords': car.carTitle,
'ogImage': car.carTitle
}
%}

{% block meta %}
    {% include 'parts/meta.html.twig' with metaParams %}
{% endblock %}
{% block title %}{{ car.carTitle }} - {{ parent() }}{% endblock %}



{% block body %}
    {{ render(controller("AppBundle:Parts:filter")) }}
    <section class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <!--HREF NAVIGATION-->
                <p class="href-navigation"><a href="{{ path('homepage') }}">{{ 'Home'|trans }}</a><i class="ti-angle-right"></i>{{ car.carTitle }}</p>
            </div>
            <div class="col-md-12">
               <div id="#accordion1">
                   {% set categoryGroupIndex = 0 %}
                   {% for key1,categoryGroup in partsArr %}
                       <div class="card rafa-collapse">
                           <button type="button" class="collapse-btn collapsed" data-toggle="collapse" data-target="#categoryGroup{{ categoryGroupIndex }}" aria-expanded="false" aria-controls="categoryGroup{{ categoryGroupIndex }}">
                               <span class="main-color"><i class="fa fa-play"></i></span>  {{ key1 }} ({{ categoryGroup|length }})
                           </button>
                           <div id="categoryGroup{{ categoryGroupIndex }}" class="collapse" data-parent="#accordion1">
                               <div class="card-body">
                                   <div id="aggardion{{ categoryGroupIndex }}">
                                       {% set categoryIndex=0 %}
                                       {% for key,parts in categoryGroup  %}
                                           <div class="card rafa-collapse">
                                               <button type="button" class="collapse-btn collapsed" style="border: 1px solid #18202e" data-toggle="collapse" data-target="#category{{ categoryGroupIndex }}{{ categoryIndex }}" aria-expanded="false" aria-controls="category{{ categoryIndex }}">
                                                   <span style="color:#18202e"><i class="fa fa-play"></i></span>  {{ key }} ({{ parts|length }})
                                               </button>
                                               <div id="category{{ categoryGroupIndex }}{{ categoryIndex }}" class="collapse" data-parent="#aggardion{{ categoryGroupIndex }}">
                                                   <div class="card-body">
                                                       {% for part in parts  %}
                                                           <div class="card-details">
                                                               <div class="col-md-12">
                                                                   <div class="row">
                                                                       <div class="col-lg-2 col-md-3 col-sm-4">
                                                                           <img src="{{ part.carPartOgImage }}" alt="{{ part.carPartTitle }}" width="100%">
                                                                       </div>
                                                                       <div class="col-lg-10 col-md-9 col-sm-8">
                                                                           <div class="text">
                                                                               <p class="title"><a href="{{ path('parts_view',{'slug':part.carPartSlug}) }}">{{ part.carPartTitle }}</a>
                                                                                   <span class="float-right">{{ part.carPartPrice }} €</span>
                                                                               </p>
                                                                               <p class="text">{{ part.carPartShortText }}</p>
                                                                               {% set index=0 %}
                                                                               <ul class="row">
                                                                                   {% for char in part.carPartCharacteristics  %}
                                                                                       {% if index<4 %}
                                                                                           <li class="col-md-3 col-sm-6 col-12">
                                                                                               <div class="row">
                                                                                                   <span class="main-color">{{ char.characteristics.characteristicsTitle}} :</span>
                                                                                                   {{ char.characteristicsValue }}
                                                                                               </div>
                                                                                           </li>
                                                                                           {% set index=index+1 %}
                                                                                       {% endif %}
                                                                                   {% endfor %}
                                                                               </ul>
                                                                           </div>
                                                                       </div>
                                                                   </div>
                                                               </div>
                                                           </div>
                                                       {% endfor %}
                                                   </div>
                                               </div>
                                           </div>
                                           {% set categoryIndex=categoryIndex+1 %}
                                       {% endfor %}
                                   </div>
                               </div>
                           </div>
                       </div>
                       {% set categoryGroupIndex = categoryGroupIndex + 1 %}
                   {% endfor %}
               </div>
            </div>
        </div>
    </section>
{% endblock %}