{% extends 'base.html.twig' %}

{% set metaParams = {
'title': page.pageTitle,
'description': page.pageMetaDescription,
'keywords': page.pageMetaKeywords,
'ogImage': page.pageOgImage
} %}

{% block meta %}
    {% include 'parts/meta.html.twig' with metaParams %}
{% endblock %}
{% block title %}{{ page.pageTitle }} - {{ parent() }}{% endblock %}

{% set activeHome = true %}



{% block body %}
    <!--SECTION CAROUSEL -->
    <div class="main-carousel owl-carousel owl-theme">
        {% for slide in slider %}
            <div class="item">
                <div class="slide-image">
                    <img src="{{ asset(slide.slideImage) }}" alt="{{ slide.slideTitle }}" title="{{ slide.slideTitle }}">
                </div>
            </div>
        {% endfor %}
    </div>
    <!--FILTER SECTION-->
    {{ render(controller('AppBundle:Parts:filter')) }}
    <input type="hidden" class="index-filter">
    <!--PARTS CATEGORIES-->
    <section class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-title">
                    <h2>{{ 'Categories'|trans }}</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <!-- feature box begin -->
        {% set totalServices = categories|length %}
        {% set currentRow = 0 %}
        {% set serviceCount = 0 %}
        {% for category in categories %}
            {% if currentRow == 0 %}
                <div class="row">
            {% endif %}

            <div class="col-xl-3 col-lg-6 col-sm-12">
                <div class = 'home-page-property-card'>
                    <div class="property-image">
                        <a href="{{ path('category_list',{'slug':category.carPartCategoryGroupSlug}) }}"><img src="{{ category.carPartCategoryGroupOgImage|get_thumb }}" alt="{{ category.carPartCategoryGroupTitle }}" width="100%"></a>
                        <div class="right-decor"></div>
                    </div>
                    <div class="property-header">
                        <div class="property-title">
                            <a href="{{ path('category_list',{'slug':category.carPartCategoryGroupSlug}) }}"><p>{{ category.carPartCategoryGroupTitle }} ({{ category.carPartCategory|length }})</p></a>
                        </div>
                    </div>
                </div>
            </div>

            {% set currentRow = currentRow + 1 %}
            {% set serviceCount = serviceCount + 1 %}
            {% if currentRow == 3 or serviceCount == totalServices %}
                {% set currentRow = 0 %}
                </div>
            {% endif %}
        {% endfor %}
        <!-- feature box close -->
    </section>


    <!--TOP PARTS-->
    <section class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-title">
                    <h2>{{ 'Top Parts'|trans }}</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <!-- feature box begin -->
        {% set totalServices = topParts|length %}
        {% set currentRow = 0 %}
        {% set serviceCount = 0 %}
        {% for part in topParts %}
            {% if currentRow == 0 %}
                <div class="row">
            {% endif %}
            <div class="col-xl-4 col-lg-6 col-sm-12">
                <div class = 'home-page-property-card'>
                    <div class="property-header">
                        <div class="property-title">
                            <a href="{{ path('parts_view',{'slug':part.carPartSlug}) }}"><a href="{{ path('parts_view',{'slug':part.carPartSlug}) }}"><p>{{ part.carPartTitle }}</p></a></a>
                        </div>
                    </div>
                    <div class="property-image">
                        <img src="{{ part.carPartOgImage }}"  width="185px"  alt="{{ part.carPartTitle }}">
                        <a href="{{ path('parts_view',{'slug':part.carPartSlug}) }}">
                            <div class="service-text-container">
                                <div class="service-text">
                                   {{ part.carPartShortText }}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            {% set currentRow = currentRow + 1 %}
            {% set serviceCount = serviceCount + 1 %}
            {% if currentRow == 3 or serviceCount == totalServices %}
                {% set currentRow = 0 %}
                </div>
            {% endif %}
        {% endfor %}
    </section>

    <!--NEW PRODUCTS-->
    <section class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-title">
                    <h2>{{ 'New Products'|trans }}</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <!-- feature box begin -->
        {% set totalServices = newParts|length %}
        {% set currentRow = 0 %}
        {% set serviceCount = 0 %}
        {% for part in newParts %}
            {% if currentRow == 0 %}
                <div class="row">
            {% endif %}

            <div class="col-xl-3 col-lg-6 col-sm-12">
                <div class = 'home-page-property-card'>
                    <div class="property-header">
                        <div class="property-title">
                            <a href="{{ path('parts_view',{'slug':part.carPartSlug}) }}"><p>{{ part.carPartTitle }}</p></a>
                        </div>
                    </div>
                    <div class="property-image">
                        <img src="{{ part.carPartOgImage }}"  width="185px" alt="{{ part.carPartTitle }}">
                        <div class="service-text-container"><div class="service-text">
                                {{ part.carPartShortText }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% set currentRow = currentRow + 1 %}
            {% set serviceCount = serviceCount + 1 %}
            {% if currentRow == 3 or serviceCount == totalServices %}
                {% set currentRow = 0 %}
                </div>
            {% endif %}
        {% endfor %}
        <!-- feature box close -->
    </section>
    <div class="gap-40"></div>
{% endblock %}