<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ 'Become A Partner'|trans }}</title>
</head>
<body>
<p><b>{{ 'Company Name'|trans }}:</b> {{ name }}</p>
<p><b>{{ 'Email'|trans }}:</b> {{ email }}</p>
<p><b>{{ 'Telephone'|trans }}:</b> {{ email }}</p>
<p><b>{{ 'Message'|trans }}:</b> {{ message }}</p>
</body>
</html>